In [15]:
pip install pymongo

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pymongo in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (4.6.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.4.2)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import pymongo
client=pymongo.MongoClient("mongodb://localhost:27017")
db=client.test

In [23]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [24]:
db=client['Badabd']

In [25]:
coll_create=db['Employee']

In [26]:
data={
"name":"Badahun",
"id":12345,
"role":"Engineer"
}

In [27]:
coll_create.insert_one(data)

InsertOneResult(ObjectId('6548ca9ab019fc90d1b87069'), acknowledged=True)

In [31]:
data1={
"mail"
:
"hari@gmail.com"
,
"phone"
:
9861298765
}

In [32]:
coll_create.insert_one(data1)

InsertOneResult(ObjectId('6548ccc5b019fc90d1b8706b'), acknowledged=True)

In [33]:
data2={
"skills":["C","Java","Python"],
"language":["Hindi","English"]
}

In [34]:
coll_create.insert_one(data2)

InsertOneResult(ObjectId('6548cd17b019fc90d1b8706c'), acknowledged=True)

In [37]:
data3=[
{"name": "Amy", "address": "Apple st 652" },
{"name":"Hannah", "address": "Mountain 21" },
{"name":"Michael", "address": "Valley 345" },
{"name": "Sandy", "address": "Ocean blvd 2" },
{"name": "Betty", "address": "Green Grass 1" },
{"name":"Richard", "address": "Sky st 331" }
]

In [38]:
coll_create.insert_many(data3)

InsertManyResult([ObjectId('6548cd86b019fc90d1b87073'), ObjectId('6548cd86b019fc90d1b87074'), ObjectId('6548cd86b019fc90d1b87075'), ObjectId('6548cd86b019fc90d1b87076'), ObjectId('6548cd86b019fc90d1b87077'), ObjectId('6548cd86b019fc90d1b87078')], acknowledged=True)

In [40]:
for i in coll_create.find(): #selecting all data
 print(i)

{'_id': ObjectId('6548ca9ab019fc90d1b87069'), 'name': 'Badahun', 'id': 12345, 'role': 'Engineer'}
{'_id': ObjectId('6548cb57b019fc90d1b8706a'), 'mail': 'hari@gmail.com', 'phone': 9861298765}
{'_id': ObjectId('6548ccc5b019fc90d1b8706b'), 'mail': 'hari@gmail.com', 'phone': 9861298765}
{'_id': ObjectId('6548cd17b019fc90d1b8706c'), 'skills': ['C', 'Java', 'Python'], 'language': ['Hindi', 'English']}
{'_id': ObjectId('6548cd59b019fc90d1b8706d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6548cd59b019fc90d1b8706e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6548cd59b019fc90d1b8706f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6548cd59b019fc90d1b87070'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6548cd59b019fc90d1b87071'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6548cd59b019fc90d1b87072'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6548cd86b019fc90d1b87073'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6548cd86b019fc90d1b87074'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6548cd86b019fc90d1b87075'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6548cd86b019fc90d1b87076'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6548cd86b019fc90d1b87077'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6548cd86b019fc90d1b87078'), 'name': 'Richard', 'address': 'Sky st 331'}

In [41]:
coll_create.find_one() #selecting only one data

{'_id': ObjectId('6548ca9ab019fc90d1b87069'),
 'name': 'Badahun',
 'id': 12345,
 'role': 'Engineer'}

In [43]:
for i in coll_create.find({'name':'Sandy'}): #finding data using condition
 print(i)

{'_id': ObjectId('6548cd59b019fc90d1b87070'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6548cd86b019fc90d1b87076'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

PRODUCT COLLECTION

In [44]:
prod=db['products']

In [45]:
prod_data=[
{ "ProductID": 1, "Name": "Laptop", "Price": 999, "Category": "Electronics" },
{ "ProductID": 2, "Name": "T-shirt", "Price": 20, "Category": "Clothing" },
{ "ProductID": 3, "Name": "Headphones", "Price": 50, "Category": "Electronics" }
]

In [46]:
prod.insert_many(prod_data)

InsertManyResult([ObjectId('6548ce20b019fc90d1b87079'), ObjectId('6548ce20b019fc90d1b8707a'), ObjectId('6548ce20b019fc90d1b8707b')], acknowledged=True)

In [47]:
for i in prod.find():
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Price': 999, 'Category': 'Electronics'}
{'_id': ObjectId('6548ce20b019fc90d1b8707a'), 'ProductID': 2, 'Name': 'T-shirt', 'Price': 20, 'Category': 'Clothing'}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Price': 50, 'Category': 'Electronics'}

Write a MongoDB query to find all products in the "Electronics" category

In [48]:
for i in prod.find({'Category': 'Electronics'}):
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Price': 999, 'Category': 'Electronics'}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Price': 50, 'Category': 'Electronics'}

find all the products whose price is greaterthan or equals to 50

In [49]:
for i in prod.find({'Price': {'$gte':50}}):
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Price': 999, 'Category': 'Electronics'}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Price': 50, 'Category': 'Electronics'}

Show only Name and Price of all data

In [50]:
for i in prod.find({},{"Name":1,"Price":1}):
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'Name': 'Laptop', 'Price': 999}
{'_id': ObjectId('6548ce20b019fc90d1b8707a'), 'Name': 'T-shirt', 'Price': 20}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'Name': 'Headphones', 'Price': 50}

Show only Name and Price of all data excluding _id

In [51]:
for i in prod.find({},{"_id":0,"Name":1,"Price":1}):
 print(i)

{'Name': 'Laptop', 'Price': 999}
{'Name': 'T-shirt', 'Price': 20}
{'Name': 'Headphones', 'Price': 50}

show all data excluding Price

In [52]:
for i in prod.find({},{"Price":0}):
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Category': 'Electronics'}
{'_id': ObjectId('6548ce20b019fc90d1b8707a'), 'ProductID': 2, 'Name': 'T-shirt', 'Category': 'Clothing'}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Category': 'Electronics'}

Show all the products in ascending order of Price

In [53]:
for i in prod.find().sort({"Price":1}):
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b8707a'), 'ProductID': 2, 'Name': 'T-shirt', 'Price': 20, 'Category': 'Clothing'}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Price': 50, 'Category': 'Electronics'}
{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Price': 999, 'Category': 'Electronics'}

show the product having highest price.

In [54]:
for i in prod.find().sort({"Price":-1}).limit(1):
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Price': 999, 'Category': 'Electronics'}

Update the price of the "Laptop" to $1099.

In [55]:
prod.update_one({ "Name": "Laptop" }, { "$set": { "Price": 1099 } })

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [56]:
for i in prod.find():
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Price': 1099, 'Category': 'Electronics'}
{'_id': ObjectId('6548ce20b019fc90d1b8707a'), 'ProductID': 2, 'Name': 'T-shirt', 'Price': 20, 'Category': 'Clothing'}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Price': 50, 'Category': 'Electronics'}

Increment Price of Every products by $10

In [57]:
prod.update_many({},{"$inc":{"Price":10}})

UpdateResult({'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [58]:
for i in prod.find():
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Price': 1109, 'Category': 'Electronics'}
{'_id': ObjectId('6548ce20b019fc90d1b8707a'), 'ProductID': 2, 'Name': 'T-shirt', 'Price': 30, 'Category': 'Clothing'}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Price': 60, 'Category': 'Electronics'}

In [59]:
prod.update_many({},{"$inc":{"Price":-20}})

UpdateResult({'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [60]:
for i in prod.find():
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Price': 1089, 'Category': 'Electronics'}
{'_id': ObjectId('6548ce20b019fc90d1b8707a'), 'ProductID': 2, 'Name': 'T-shirt', 'Price': 10, 'Category': 'Clothing'}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Price': 40, 'Category': 'Electronics'}

Calculate the average price of all products in the "Electronics" category.

In [61]:
pipeline=[{"$match":{'Category': 'Electronics'}},{ "$group": { '_id': 'null', 'avgPrice': { '$avg': "$Price" } } }]

In [62]:
avg_price=list(prod.aggregate(pipeline))
print(avg_price)

[{'_id': 'null', 'avgPrice': 564.5}]

Remove the product with ProductID 2 from the "Product" collection.

In [63]:
prod.delete_one({'ProductID': 2})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [64]:

for i in prod.find():
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b87079'), 'ProductID': 1, 'Name': 'Laptop', 'Price': 1089, 'Category': 'Electronics'}
{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Price': 40, 'Category': 'Electronics'}

Delete all the data from Product whose Price is greater than $100

In [65]:
prod.delete_many({'Price':{'$gt':100}})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [66]:
for i in prod.find():
 print(i)

{'_id': ObjectId('6548ce20b019fc90d1b8707b'), 'ProductID': 3, 'Name': 'Headphones', 'Price': 40, 'Category': 'Electronics'}